<html>
  <head>
    <title>Email templates</title>
    <style>
      #loginButton { margin-right: auto; width: 107px; display: block; padding-top: 9px; padding-left:
      20px; padding-right: 10px; border-radius: 10px; background-color: #31a950; color: white; border: none; height: 28px; }
      #title{ color: #31A950; } #horizontalLine{ border-top: 3px solid green; }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <span style='font-family: Arial; font-size: 10pt'>
            Hello
            <b>{{user}}</b>,
            <p>Forgot your password?<br />
              We received a request to reset the pasword,Please use this passcode to verify:</p>
              <b>{{url}}</b>
              <p>This OTP is valid for 10 mins.</p>
            <p>If you did not make this request then please ignore this email.</p>
          </span>
        </td>
      </tr>
    </table>
  </body>
</html>
