<html>
  <head>
    <title>Email Templates</title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <span style='font-family: Arial; font-size: 10pt'>
            <p>{{{emailBody}}}</p>
          </span>
        </td>
      </tr>
    </table>
  </body>
</html>
